.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio__list, .filter, .footer-address__list, .clients__list, .social, .team__list, .work__list, .features__list, .header-contacts, .nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-address__link, .header-contacts__link, .nav__link {
  text-decoration: none;
}

.portfolio, .clients, .team, .work, .features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title, .team__title, .work__title, .features__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container, .page-header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__item {
  display: flex;
  align-items: center;
}

.logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  text-decoration: none;
}

.logo__text--accent {
  color: #2196f3;
}

.page-header__logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.page-footer__logo--accent {
  color: #ffffff;
}

.button, .modal-form__button, .hero__button {
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero__button {
  padding-left: 32px;
  padding-right: 32px;
}

.nav {
  display: flex;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  position: relative;
  color: #2196f3;
}
.nav__link--current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: 1px;
  left: 0;
  background-color: #2196f3;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-contacts__icon {
  margin-right: 10px;
  color: currentColor;
}

.header-contacts__item {
  margin-right: 30px;
}
.header-contacts__item:last-child {
  margin-right: 0;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-Img.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features__icon {
  width: 70px;
  height: 70px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.features__box {
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #f5f4fa;
  border-radius: 4px;
}
.features__list {
  display: flex;
}
.features__item {
  width: 270px;
  margin-right: 30px;
}
.features__item:last-child {
  margin-right: 0;
}
.features__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.work {
  padding-top: 0;
}
.work__list {
  display: flex;
}
.work__item {
  position: relative;
  margin-right: 30px;
}
.work__item:last-child {
  margin-right: 0;
}
.work__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
}
.work__subtitle-position {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}
.team__list {
  display: flex;
}
.team__function {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #757575;
}
.team__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__card {
  margin-right: 30px;
  text-align: center;
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__card:last-child {
  margin-right: 0;
}

.social {
  display: flex;
  width: 206px;
  margin: auto;
  justify-content: space-between;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  align-items: center;
  padding: 12px;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:last-child {
  margin-right: 0px;
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social {
  display: flex;
  width: 206px;
  margin: auto;
  justify-content: space-between;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  align-items: center;
  padding: 12px;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:last-child {
  margin-right: 0px;
}
.social__link__link:hover, .social__link__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.social__link__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__link--footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--footer__link--footer:hover, .social__link--footer__link--footer:focus {
  background-color: #2196f3;
}

.clients__data {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__data:hover, .clients__data:focus {
  border-color: #2196f3;
  color: #2196f3;
  cursor: pointer;
}
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.page-footer__item {
  display: flex;
}
.page-footer__subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-links {
  margin-left: 70px;
}

.footer-address__post {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__post:hover, .footer-address__post:focus {
  color: #2196f3;
}

.footer-address__item {
  margin-bottom: 9px;
}
.footer-address__item:last-child {
  margin-bottom: 0;
}

.footer-address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription {
  width: 570px;
  margin-left: 93px;
}
.footer-subscription__icon {
  margin-left: 10px;
}

.footer__button {
  display: flex;
  align-items: center;
  padding-left: 29px;
  width: 200px;
}

.footer-subscription__input {
  width: 358px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscription__input:hover {
  border: 1px solid;
  border-color: #2196f3;
  cursor: pointer;
}

.footer-mailing {
  display: flex;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__title {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__box {
  position: relative;
  color: #212121;
}

.modal-form__label {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}

.modal-form__input {
  height: 40px;
  padding: 0;
  padding-left: 42px;
  width: 100%;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus, .modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid;
  border-color: #2196f3;
  cursor: pointer;
}
.modal-form__input--textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  resize: none;
  padding: 11px 15px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon, .modal-form__input:hover + .modal-form__icon {
  color: #2196f3;
}

.modal-form__agreement {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-form__checkbox {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
  position: absolute;
}

.modal-form__icon-checkbox {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  margin-left: 12px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__checkbox:checked + .modal-form__icon-checkbox {
  border-color: transparent;
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
  cursor: pointer;
}

.modal-form__icon-check {
  position: absolute;
  top: -2px;
  left: -2px;
}

.modal-form__link {
  color: #2196f3;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.modal-button {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000000;
}
.modal-button:hover {
  color: #2196f3;
}
.modal-button__icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  fill: currentColor;
}

.modal-form__button {
  display: block;
  margin: auto;
  margin-top: 30px;
  padding-left: 55px;
  padding-right: 55px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__description {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item {
  margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__button {
  border-radius: 4px;
  border: none;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__card {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__card:nth-child(3n) {
  margin-right: 0;
}
.portfolio__card:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__data {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: transparent;
}

.portfolio__link {
  display: inline-block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}

.portfolio__actions {
  position: absolute;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__actions, .portfolio__link:focus .portfolio__actions {
  opacity: 1;
  transform: translateY(-100%);
}

.portfolio__image {
  display: block;
}

.portfolio__text {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */