.logo {
    color: $main-text-color;
    font-family: "Raleway", sans-serif;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;      
    text-decoration: none;

    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo__text--accent {
    color: $accent-text-color;
}

.page-header__logo { 
    
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: $tablet) {
        padding-top: 26px;
        padding-bottom: 26px;       
    }

    @media screen and (min-width: $desktop) {
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
    }
}

.page-footer__logo {
   
    display: inline-block;
    margin-bottom: 20px;

    &--accent {
    color: $accent-white-color;
    }
}

