.social {
    display: flex;
    width: 206px;
    margin: auto;
    justify-content: space-between;

    @extend %list;
}

.social__link {
    display: block;
    width: 44px;
    height: 44px;
    align-items: center;
    padding: 12px;

    color: #afb1b8;

    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:last-child {
                margin-right: 0px;
            }
            &__link:hover,
            &__link:focus {
                background-color: $accent-text-color;
                color: $accent-white-color;
            }

            &__icon {
                width: 20px;
                height: 20px;
                fill: currentColor;
            }
}

.social__link--footer {
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    color: $accent-white-color;
    background-color: rgba(255, 255, 255, 0.1);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&__link--footer:hover,
    &__link--footer:focus {
        background-color: $accent-text-color;
    }
}





