.clients {
    @extend %section;
   

    &__title {
        @extend %section__title;
}
&__data {
    display: block;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 16px 32px;

    color: #afb1b8;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__data:hover,
&__data:focus {
    border-color: $accent-text-color;
    color: $accent-text-color;

    cursor: pointer;
}

&__list {
    display: flex;
    justify-content: space-between;

    @extend %list;
}

&__logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
}
}
