.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;

    background-color: $footer-background-color;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-Img.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &__title {
            margin-top: 0;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            width: 696px;
    
            color: $accent-white-color;
    
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
        }

