.portfolio {
    @extend %section;
}

.portfolio__title {
    margin-top: 0;
    margin-bottom: 4px;

    color: $main-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__description {
    margin-top: 0;
    margin-bottom: 0;

    color: $secondary-text-color;

    font-size: 16px;
    line-height: 1.88;
}

.filter {
@extend %list;

    display: flex;
    margin-bottom: 40px;
    justify-content: center;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: flex-start;  
    }

    @media screen and (min-width: $tablet) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
}

.filter__item {
    &:not(:last-child) {
        margin-right: 8px;
    }

    &:nth-child(-n + 3) {
        margin-bottom: 15px;
    }
}

.filter__button {
    border-radius: 4px;
    border: none;
    min-width: 73px;
    height: 38px;
    padding: 6px 22px;

    color: $main-text-color;
    background-color: $secondary-background-color;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-white-color;
        background-color: $accent-text-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
   
    @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 30px;
    }

    @media screen and (min-width: $tablet) {
        margin: -15px;
    }
}

.portfolio__card {
    @media screen and (min-width: $tablet) {
        margin: 15px;
        width: calc((100% - 60px) / 2);
        }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 90px) / 3);
    }
}

.portfolio__data {
    flex-grow: 1;
    border: 1px solid #eeeeee;
    padding: 20px 24px;
    border-top: transparent;
}

.portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;

    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__box {
    position: relative;

    overflow: hidden;
}

.portfolio__actions {
    position: absolute;

    width: 100%;
    height: 100%;
    
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;

    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

.portfolio__link:hover &,
.portfolio__link:focus & {
        opacity: 1;

        transform: translateY(-100%);
    }

    @media screen and (min-width: $mobile) {
        padding: 77px 24px;
    }

    @media screen and (min-width: $tablet) {
        padding: 49px 24px 77px 24px;
    }

    @media screen and (min-width: $desktop) {
        padding: 63px 24px;
    }
}

.portfolio__image {
    display: block;
}

.portfolio__text {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.56;

    color: $accent-white-color;
}