.portfolio {
    @extend %section;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__title {
    margin-top: 0;
    margin-bottom: 4px;

    color: $main-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__description {
    margin-top: 0;
    margin-bottom: 0;

    color: $secondary-text-color;

    font-size: 16px;
    line-height: 1.88;
}

.filter {
@extend %list;

    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.filter__item {
    margin-right: 8px;
}

.filter__item:last-child {
    margin-right: 0;
}

.filter__button {
    border-radius: 4px;
    border: none;
    min-width: 73px;
    height: 38px;
    padding: 6px 22px;

    color: $main-text-color;
    background-color: $secondary-background-color;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-white-color;
        background-color: $accent-text-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio__list {
    @extend %list;
}

.portfolio__card {
    margin-right: 30px;
    margin-bottom: 30px;

&:nth-child(3n) {
        margin-right: 0;
    }
&:nth-last-child(-n + 3) {
        margin-bottom: 0;
        }
}

.portfolio__data {
    border: 1px solid #eeeeee;
    padding: 20px 24px;
    border-top: transparent;
}

.portfolio__link {
    display: inline-block;

    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__box {
    position: relative;

    overflow: hidden;
}

.portfolio__actions {
    position: absolute;

    width: 370px;
    height: 294px;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;

    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

.portfolio__link:hover &,
.portfolio__link:focus & {
        opacity: 1;

        transform: translateY(-100%);
    }
}

.portfolio__image {
    display: block;
}

.portfolio__text {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.56;

    color: $accent-white-color;
}