   .team {
    @extend %section;
   
    background-color: $secondary-background-color;

    &__title {
        @extend %section__title;
    }

    &__list {
           
            @extend %list;

            @media screen and (min-width: $tablet) {
                display: flex;
                flex-wrap: wrap;
            }

            @media screen and (min-width: $tablet) and (max-width: 1199px) {
                margin: -15px;                
            }

            @media screen and (min-width: $desktop) {
                gap: 30px;
            }
        }
    
    &__subtitle {

        margin: 0;  
        margin-top: 30px;      
        margin-bottom: 10px;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
    }

        &__function {
            margin: 0;
            margin-bottom: 16px;
            color: $secondary-text-color;
        }

    &__card {
        padding-bottom: 24px;
        text-align: center;
        
        background-color: #ffffff;
    
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        @media screen and (min-width: $mobile) {
            width: 450px;
           
        }

        @media screen and (min-width: $tablet) {
            width: calc((100% - 60px) / 2);
           
        }

        @media screen and (min-width: $desktop) {
            width: calc((100% - 90px) / 4);
            padding-bottom: 30px;
           

            
        }

        @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @media screen and (min-width: $tablet) and (max-width: 1199px) {
            margin: 15px;
        }
    }
    
   }

  

      