body {
    color: var(--main-text-color);
    background-color: var(--main-background-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}