.button-menu {
z-index: 999;

display: inline-block;
margin: 0;
padding: 0;

border: none;
background-color: transparent;

    & .button-menu__icon-cross {
            display: none;
        }

    &.is-open .button-menu__icon-cross {
        display: block;        
        }

    &.is-open .button-menu__icon-burger {
        display: none;
        }

    @media screen and (min-width: $tablet) {
        display: none;
    }

    &:hover .button-menu__icons {
        fill: $accent-text-color;
    }
}




