%list {
    padding: 0;
    margin: 0;

    list-style: none;
}

%link {
    text-decoration: none;
}

%section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
    }

%section__title {
            margin-top: 0;
            margin-bottom: 30px;
    
            font-weight: 700;
            font-size: 28px;
            line-height: calc(33 / 28);
            text-align: center;

@media screen and (min-width: $desktop) {
            font-size: 36px;
            line-height: 1.17;
            
            margin-bottom: 50px;

        }


        }

.container {
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;

            @media screen and (min-width: $mobile) {
                width: $mobile;
            }

            @media screen and (min-width: $tablet) {
                width: $tablet;
            }

            @media screen and (min-width: $desktop) {
                width: $desktop;

            }
                }