 $main-text-color: #212121;
 $secondary-text-color: #757575;
 $accent-text-color: #2196f3;
 $accent-white-color: #ffffff;
 $main-background-color: #ffffff;
 $secondary-background-color: #f5f4fa;
 $footer-background-color: #2f303a;