.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $footer-background-color;

    &__item {
        margin: 0 auto;
        
        @media screen and (max-width: 1199px) {
text-align: center;
        }
        
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;             
            align-items: baseline;           
        }

       @media screen and (min-width: $tablet) and (max-width: 1199px) {
            padding-left: 76px;
            padding-right: 89px;
       }
        
        }

        &__subtitle {
            margin: 0;
            margin-bottom: 20px;
        
            font-weight: 700;
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        
            color: $accent-white-color;
        }
}

.footer-links {

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;     
    }
   
    @media screen and (min-width: $desktop) {
        margin-right: 93px;
        }
    

      }
