.footer-address__list {
    @extend %list;
}

.footer-address__post {
    color: $accent-white-color;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-text-color;
    }
}

.footer-address__item {
    margin-bottom: 9px;

    &:last-child {
            margin-bottom: 0;
        }
}

.footer-address__link {
    @extend %link;
    
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}





