.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $footer-background-color;

    &__item {
            display: flex;
           
        }

        &__subtitle {
            margin-top: 0;
            margin-bottom: 20px;
        
            font-weight: 700;
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        
            color: $accent-white-color;
        }
}

.footer-links {
    margin-left: 70px;
}
