.footer-subscription {

    &__form {
              
        @media screen and (min-width: $mobile) {
            width: 450px;
        }

        @media screen and (min-width: $desktop) {
            width: 570px;
        }
    }
  
    &__icon {
            margin-left: 10px;
        }
    }

.footer__button {
    display: flex;
    align-items: center;
    padding-left: 29px;
    padding-right: 29px;
    width: 200px;
    margin: 0 auto;
}

.footer-subscription__input {
    width: 100%;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
            border: 1px solid;
            border-color: $accent-text-color;
            cursor: pointer;
        }    
        
        @media screen and (max-width: 1199px) {
            margin-bottom: 20px;
        }

        @media screen and (min-width: $desktop) {
            margin-right: 12px;
        }
}

@media screen and (min-width: $desktop) {
.footer-subscription__form {
        display: flex;
    }
}

